<esq-layout #layout>
  <ng-template #nb>
    navbar
  </ng-template>

  <ng-template #lsmf>
    lsmf
  </ng-template>

  <ng-template #lsm>
    lsm
  </ng-template>

  <ng-template #rom>
    rom
  </ng-template>

  <ng-template #lom>
    lom
  </ng-template>

  <ng-template #rsm>
    rsm
  </ng-template>

  <ng-template #mc>
      <esq-layout #layout>
          <ng-template #nb>
            navbar
          </ng-template>

          <ng-template #lsmf>
            lsmf
          </ng-template>

          <ng-template #lsm>
            lsm
          </ng-template>

          <ng-template #rom>
            rom
          </ng-template>

          <ng-template #lom>
            lom
          </ng-template>

          <ng-template #rsm>
            rsm
          </ng-template>

          <ng-template #mc>
              <esq-layout #layout>
                  <ng-template #nb>
                    navbar
                  </ng-template>

                  <ng-template #lsmf>
                    lsmf
                  </ng-template>

                  <ng-template #lsm>
                    lsm
                  </ng-template>

                  <ng-template #rom>
                    rom
                  </ng-template>

                  <ng-template #lom>
                    lom
                  </ng-template>

                  <ng-template #rsm>
                    rsm
                  </ng-template>

                  <ng-template #mc>
                    mc
                  </ng-template>

                  <ng-template #modal>
                  </ng-template>

                  <ng-template #overlay>
                  </ng-template>
                </esq-layout>
          </ng-template>

          <ng-template #modal>
          </ng-template>

          <ng-template #overlay>
          </ng-template>
        </esq-layout>
  </ng-template>

  <ng-template #modal>
  </ng-template>

  <ng-template #overlay>
  </ng-template>
</esq-layout>
